<div class="main-banner" id="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-content">
          <div class="thumb">
            <div class="inner-content">
              <h4 class="mainBannerText">Somos Repro Autik Design</h4>
              <span>Tienda a la vanguardia de la moda</span>
              <div class="main-border-button">
                <a routerLink="products">Compre ahora!</a>
              </div>
            </div>
            <img
              src="assets/images/left-banner-image.jpg"
              alt="imagen principal banner"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <div class="row">
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Mujeres</h4>
                    <span>La mejores prendas para mujeres</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Mujeres</h4>
                      <p>Las mejores prendas a la moda para mujeres.</p>
                      <div class="main-border-button">
                        <a routerLink="products">Descubre más!</a>
                      </div>
                    </div>
                  </div>
                  <img src="assets/images/baner-right-image-01.jpg" />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Hombres</h4>
                    <span>Las mejores prendas para hombres</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Hombres</h4>
                      <p>Las mejores prendas a la moda para hombres.</p>
                      <div class="main-border-button">
                        <a routerLink="products">Descubre más!</a>
                      </div>
                    </div>
                  </div>
                  <img src="assets/images/baner-right-image-02.jpg" />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Infantes</h4>
                    <span>Las mejores prendas para infantes</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Infantes</h4>
                      <p>Las mejores prendas a la moda para infantes.</p>
                      <div class="main-border-button">
                        <a routerLink="products">Descubre más</a>
                      </div>
                    </div>
                  </div>
                  <img src="assets/images/baner-right-image-03.jpg" />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Accesorios</h4>
                    <span>Los mejores accesorios a la moda</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Accesorios</h4>
                      <p>Los mejores accesorios a la moda.</p>
                      <div class="main-border-button">
                        <a routerLink="products">Descubre más!</a>
                      </div>
                    </div>
                  </div>
                  <img src="assets/images/baner-right-image-04.jpg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
